# Workflow derived from https://github.com/r-lib/actions/tree/v2/examples
# Need help debugging build failures? Start at https://github.com/r-lib/actions#where-to-find-help
on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

name: lint

jobs:
  lint:
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v3

      - uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::lintr, local::.
          needs: lint

      - name: Lint
        run: |
          library(lintr)
          critical_rules <- c(
            absolute_path_linter(), any_duplicated_linter(),
            any_is_na_linter(), assignment_linter(), backport_linter(),
            brace_linter(), class_equals_linter(), commas_linter(),
            commented_code_linter(), condition_message_linter(),
            conjunct_test_linter(), consecutive_assertion_linter(),
            duplicate_argument_linter(), empty_assignment_linter(),
            equals_na_linter(), expect_comparison_linter(),
            expect_identical_linter(), expect_not_linter(),
            expect_null_linter(), expect_s3_class_linter(),
            expect_s4_class_linter(), expect_true_false_linter(),
            expect_type_linter(), fixed_regex_linter(),
            for_loop_index_linter(), function_left_parentheses_linter(),
            function_return_linter(), if_not_else_linter(),
            ifelse_censor_linter(), implicit_assignment_linter(),
            indentation_linter(), infix_spaces_linter(),
            inner_combine_linter(), is_numeric_linter(),
            keyword_quote_linter(), length_levels_linter(),
            length_test_linter(), lengths_linter(),
            library_call_linter(), literal_coercion_linter(),
            missing_argument_linter(), missing_package_linter(),
            namespace_linter(), nested_ifelse_linter(),
            nonportable_path_linter(), numeric_leading_zero_linter(),
            object_length_linter(), object_usage_linter(),
            outer_negation_linter(), package_hooks_linter(),
            paren_body_linter(), paste_linter(), pipe_call_linter(),
            pipe_consistency_linter(), pipe_continuation_linter(),
            quotes_linter(), redundant_equals_linter(),
            redundant_ifelse_linter(), regex_subset_linter(),
            repeat_linter(), routine_registration_linter(),
            scalar_in_linter(), semicolon_linter(), sort_linter(),
            spaces_inside_linter(), spaces_left_parentheses_linter(),
            sprintf_linter(), string_boundary_linter(),
            strings_as_factors_linter(), system_file_linter(),
            T_and_F_symbol_linter(), undesirable_function_linter(),
            undesirable_operator_linter(),
            unnecessary_concatenation_linter(), unnecessary_lambda_linter(),
            unnecessary_nested_if_linter(),
            unnecessary_placeholder_linter(), unreachable_code_linter(),
            unused_import_linter(), vector_logic_linter(),
            whitespace_linter(), yoda_test_linter()
          )

          lint_package(linters = critical_rules, show_progress = FALSE)

        shell: Rscript {0}
        env:
          LINTR_ERROR_ON_LINT: true
